<%- include ./partials/header.ejs %>

    <% 
        const journee=24 * 60 * 60 * 1000; 
        var dateCourante=event.start_date; 
        console.log(dateCourante);
        var datefin=event.end_date 
        var nombreJours=Math.round(Math.abs((datefin - dateCourante) / journee));               
     %>
    

        <h1>Joindre évènement </h1>
        <h2>Propriétaire: <%= event.owner.firstname + " " + event.owner.lastname %></h2>
        <h2>Titre : "<%= event.nom %>"</h2>
        
        <h2> Description : <%= event.description  %> </h2>      

        
    
      

        
        <form name="test" method="POST">
            <% for( let jour=0; jour <=nombreJours; jour++ ) { %>
                
                <h3>
                    <%= dateCourante.toISOString().split('T')[0]; %>
                </h3>
                <% for( let index=event.start_time; index <=event.end_time; index++ ) { %>
                    <% 
                        var heureFormat = index < 10 ? "0" + index : index 
                        var mois = dateCourante.getMonth()+1
                        var moisFormat = mois < 10 ? "0" + mois : mois; 
                        var date = dateCourante.getDate()+1
                        var valeurcheckbox = dateCourante.getFullYear() + moisFormat + date  + heureFormat + "00"
                    %>
                    <input type="checkbox" id=<%=valeurcheckbox %> name=<%=valeurcheckbox %>  value="checked" <% if (dispo.includes(valeurcheckbox)) { %> checked <% } %>>
                    <label for=<%=valeurcheckbox %>>
                        <%= heureFormat + ":00" %>
                    </label><br>
                    <% } %>
                        <br><br>
                        <% dateCourante.setDate(dateCourante.getDate()+1)%>
                        <% } %>

                            <input type="submit" value="Submit">
        </form>
        <%- include ./partials/footer.ejs %>