<%- include ./partials/header.ejs %>

    <% 
        const journee=24 * 60 * 60 * 1000; 
        var dateCourante=event.start_date;        
        var datefin=event.end_date;
        var nombreJours=Math.round(Math.abs((datefin - dateCourante) / journee));   
        if(dispo == null) {
            dispo = []
        }       
        else{
            dispo = dispo.dispos
        }    
            const aujourdhui = new Date()
            const hier = new Date(aujourdhui)
            hier.setDate(hier.getDate() - 1)   
     %>

 <h1>Joindre évènement </h1>        

 <div class="card text-center">
  <div class="card-header">
     De <%= event.start_date.toISOString().split('T')[0] %> jusqu'au <%= event.end_date.toISOString().split('T')[0] %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= event.nom %></h5>
    <p class="card-text"><%= event.description  %></p>
    <h6 class="card-subtitle mb-2 text-muted">Propriétaire : <%= event.owner.name %></h6>    
  </div>
  <div class="card-footer text-muted">
    Date limite pour s'inscrire:  <%= event.limit_date.toISOString().split('T')[0] %>
  </div>
</div>

<br>

<hr/>

        <% if (String(event.owner._id) === String(currentUser._id)) { %>
            <h1> Le créateur de l'évènement ne peut pas ajouter des disponibilités</h1>
        <% } else if (hier >= event.limit_date) { %>            
       
           <h1> La date limite pour joindre l'évènement est dépassée</h1>
            <% } else { %>               

                <form name="test" method="POST">
                    <div class="row">
                    <% for( let jour=0; jour <=nombreJours; jour++ ) { %>
                       <div class="col-lg-3 col-md-4 col-sm-4">
                        <h3>
                            <%= dateCourante.toISOString().split('T')[0]; %>
                            </h3>
                <% for( let index=event.start_time; index <=event.end_time; index++ ) { %>
                    <% 
                        let nbCasehoraire = 0;
                        var heureFormat = index < 10 ? "0" + index : index;
                        var mois = dateCourante.getMonth()+1
                        var moisFormat = mois < 10 ? "0" + mois : mois; 
                        var date = dateCourante.getDate()+1
                        var valeurcheckbox = dateCourante.getFullYear() + moisFormat + date  + heureFormat + "00"
                        %>
                    <% if (nbCasehoraire % 6 == 0) { %>
                     
                    <% } %>
                    <input type="checkbox"  name=<%=valeurcheckbox %>  value="checked" <% if (dispo.includes(valeurcheckbox)) { %> checked <% } %>>
                    <label for=<%=valeurcheckbox %>>
                        <%= heureFormat + ":00" %>
                    </label><br>
                    <% } %>
                    <br><br>
                    <% dateCourante.setDate(dateCourante.getDate()+1)%>
                    </div> 
                    <% } %>
                    
                </div>
                    <input class="btn btn-danger" type="submit" value="Soumettre">
                </form>
                <hr>
                <% } %>
<%- include ./partials/footer.ejs %>